*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-width: 100vw;
    min-height: 100vh;
}
html, body {
    overflow-x: hidden !important;
}

/***********
 * Header  *
 ***********/
header {
    width: 100%;
    height: 80px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 40%;
    height: 80px;
    display: flex;
    align-items: center;
}
.logo img{
    margin-left: 10%;
}
nav,ul {
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    gap: 20px;
}
nav,ul,li > a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}
nav,ul,li > a:hover{
    transition: 0.5s;
    color: #DD1418;
}
.btn-mobile{
    display: none;
}
.carrinho {
    width: 5%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrinho a span{
    color: #DD1418;
    margin-right: 20px;
}

/***********
 * Main  *
 ***********/
main {
    width: 100%;
    background-color: #e9e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat{
    width: 20%;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: -195px;
}
.chat img{
    width: 20%;
    transition: 0.2s;
}
.chat img:hover{
    cursor: pointer;
    width: 21%;
}


.banner_principal{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/banner_principal.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.titulo_principal{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    gap: 5px;
}
.titulo_principal h1{
    font-size: 2em;
}
.comprar_principal{
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.comprar_principal a {
    padding: 10px 30px;
    background-color: #DD1418;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 500;
}

.produtos_destaques {
    width: 80%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo_destaques {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
}
.card_destaques{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.cards{
    width: 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    transition: 0.6s;
    margin: 15px;
}
.cards:hover{
    width: 31%;
    cursor: pointer;
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
.imagem_card{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem_card img{
    width: 50%;
}
.preco{
    width: 100%;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.preco p {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 25px;
}
.preco span{
    font-weight: 500;
}
.preco small{
    color: #619D00;
    font-weight: 400;
    font-size: 12px;
}

.produtos_estrela{
    width: 76%;
    height: 250px;
    margin-top: 70px;
    margin-bottom: 90px;
}
.titulo_estrela{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
}
.card_estrela {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.bg_cadeira{
    width: 40%;
    height: 160px;
    border-radius: 10px;
    background-image: url("../img/banner-estrela.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5rem;
}
.bg_cadeira:hover {
    cursor: pointer;
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }

.bg_computadores{
    width: 40%;
    height: 160px;
    border-radius: 10px;
    background-image: url("../img/banner-estrela-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5rem;
}

.bg_computadores:hover{
    cursor: pointer;
    -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-tl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
              box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
              box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }

/***********
 * footer *
 ***********/
footer{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
}
.footer{
    width: 100%;
    height: 215px;
    background-color: #222222;
    display: flex;
    justify-content: center;
}
.logo_footer{
    width: 50%;
    height: 215px;
    display: flex;
    align-items: center;
}
.logo_footer img {
    margin-left: 20%;
}
.container{
    width: 50%;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.redes_sociais{
    margin-right: 15%;
    width: 40%;
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.redes{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes_sociais > .redes > p{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}
.link_redes{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.copy{
    width: 100%;
    height: 25px;
    background-color: #e9e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

@media (min-width:1440px) {
    html, body {
        overflow-x: hidden !important;
    }
    nav ul li a {
        font-size: 1.2rem;
    }
    .logo a img{
        margin-left: 30px;
    }
    .carrinho a span{
        margin-right: 30px;
    }
    .chat{
        position: fixed;
        right: -185px;
        bottom: 40px;
    }
    .chat img:hover{
        cursor: pointer;
        width: 21%;
    }
    .logo_footer img{
        width: 35%;
    }
    
    .redes_sociais .redes > p {
        font-size: 1.5rem;
    }
}

@media (max-width:1024px) {
    html, body {
        overflow-x: hidden !important;
    }
    header{
        width: 100vw;
    }
    main{
        width: 100vw;
    }
    footer{
        width: 100vw;
    }
    .chat{
        position: fixed;
        right: -135px;
        bottom: 40px;
    }
    .chat img:hover{
        cursor: pointer;
        width: 21%;
    }
    .produtos_destaques{
        min-width: 100%;
        height: auto;
    }
    .produtos_destaques > .card_destaques {
        min-width: 100%;
        height: auto;
        justify-content: center;
    }
    .cards{
        width: 29%;
    }
}

@media (max-width:768px) {
    header{
        justify-content: space-between;
    }
    .logo {
        display: flex;
        justify-content: center;
        width: 40%;
    }
    #nav{
        order: -1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 30%;
    }
    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 35%;
        height:0px;
        top: 80px;
        left: 0px;
        background-color: #222222;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        visibility: visible;
    }
    #menu a:hover {
        transition: 0.3s;
        color: #DD1418;
    }
    .btn-mobile {
        display: flex;
        margin-left: 30px;
    }
    .carrinho{
        width: 30%;
        justify-content: flex-end;
    }
    .carrinho a span {
        margin-right: 30px;
    }
    .chat {
        position: fixed;
        right: -90px;
        bottom: 15px; 
    }
    .chat img{
        width: 25%;
    }
    .chat img:hover{
        cursor: pointer;
        width: 27%;
    }
    .banner_principal{
        max-height: 350px;
    }
    .titulo_principal h1 {
        font-size: 1.6rem;
    }
    .produtos_destaques{
        height: auto;
    }
    .card_destaques{
        height: auto;
        justify-content: center;
        margin-top: 20px;
    }
    .cards{
        width: 40%;
        height: 300px;
        margin: 10px;
    }
    .cards:hover{
        width: 36%;
        cursor: pointer;
        -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes shadow-drop-2-center {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-transform: translateZ(50px);
                  transform: translateZ(50px);
          -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
      }
      @keyframes shadow-drop-2-center {
        0% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-transform: translateZ(50px);
                  transform: translateZ(50px);
          -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
      }
      .bg_cadeira {
        width: 47%;
        height: 130px;
      }
      .bg_computadores{
        width: 47%;
        height: 130px;
      }
}